/* Styles go here */
  ul {
    display: table;
    margin: 0 auto;
  }

  .marginButton {
    height: 45px;
    width: 250px;
    margin: 0 auto;
  }

  .marginTitle {
    width: 450px;
    margin: 0 auto;
  }